/* reset */
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
img{
	width: 100%;
}
a{
    text-decoration: none;
    color: #707070;
    font-family: "ArchyEDT", Arial, sans-serif;
}
.container{
    max-width: 1640px;
    width: 85%;
    margin: 0 auto;

}
/* external fonts */
@font-face {
    font-family: 'ArchyEDT';
    src: url('../fonts/archyedt-thin-webfont.woff2') format('woff2'),
        url('../fonts/archyedt-thin-webfont.ttf') format('truetype'),
        url('../fonts/archyedt-thin-webfont.eot') format('embedded-opentype'),
         url('../fonts/archyedt-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Zapf Dingbats';
    src: url('../fonts/ZapfDingbats\ Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
/* Header styles */

.header-div{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 52px auto;
}
.logo-img{
    width: 122px;
    height: 95px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin-left: auto;
}
.nav-list{
    list-style: none;
    display: flex;
    justify-content: center;
    gap:0px;
    padding: 0;
}
.nav-list > li{
    font-family: Archy EDT;
    font-size: 20px;
    line-height: 27px;
    color: #707070;
    letter-spacing: 0.2px;
}
.nav-list li:nth-child(1) {
    margin-right: 53px;
  }
  
.nav-list li:nth-child(2) {
    margin-right: 70px;
  }
  
.nav-list li:nth-child(3) {
    margin-right: 106px;
  }
  
.nav-list li:nth-child(4) {
    margin-right: 78px; 
  }
.search-button{
    width: 25.5px;
    height: 25.5px;
    border: none;
}
.slider-div{
    margin:59.96px auto;
}
.slider-img{
    max-width:100%;
}
/* section card styles */

section > h1{
    font-family: "ArchyEDT", Arial, sans-serif;
    font-size: 40px;
    color: #707070;
    letter-spacing: 0.4px;
}
.article-div{
    display: flex;
    gap: 70px;
    margin: 70px auto 0;
    max-width: 100%;
}
.article-container{
    box-sizing: border-box;
    width: 483;
    height: 593px;
    margin:0 auto;
    box-shadow: 0px 3px 6px #00000029; 
}
.article-container > img {
    width: 483px;
    height: 282px;
    max-width: 100%;
}
.article-container > h2 {
    font-family: "ArchyEDT", Arial, sans-serif;
    font-size: 30px;
    color: #707070;
    letter-spacing: 0.3px;
}
.article-container > p {
    font-family: "Zapf Dingbats", Arial, sans-serif;
    font-size: 18px;
    color: #707070;
    letter-spacing: 0px;
    margin-top: 10px;
}
.article-container > a {
    font-size: 24px;
    color: #707070;
    letter-spacing: 0px;
    margin-top: 73px;
    text-decoration: none;
    text-align: right;
}
.load-more{
    display: flex;
    font-size: 30px;
    letter-spacing: 0.3px;
    text-decoration: underline;
    justify-content: center;
    align-items: center;
    margin: 56px auto;;
}

/* footer style */
footer{
    background-color: #2E2E2E;
    padding: 56px 0;
    margin-top: 68px;
}
.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.footer-logo{
    width: 122px;
    height: 95.04px;
}
.footer-contact {
    box-sizing: border-box;
    width: 124px;
    max-width: 100%;
    margin-left: auto;
}
.footer-contact > h3 { 
    font-family: "ArchyEDT", Arial, sans-serif;

    font-size: 20px;
    color: rgba(242, 242, 242, 1);
    letter-spacing: 0.2px;
    margin:0px;
    font-weight: normal;
}
.footer-contact > a {
    font-size: 13px;
    color: rgba(242, 242, 242, 1);
    letter-spacing: 0.13px;
}
.footer-address {
    box-sizing: border-box;

    /* max-width: 100%; */
    margin-left:auto;
 
}
.footer-address > h3 { 
    font-family: "ArchyEDT", Arial, sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: rgba(242, 242, 242, 1);
    letter-spacing: 0.2px;;
}

.footer-address > a {
    font-size: 13px;
    color: rgba(242, 242, 242, 1);
    letter-spacing: 0.13px;
    margin: 0px;
}
.footer-socials {
    box-sizing: border-box;
    justify-content: space-between;    max-width: 100%;
    display: flex;
    width: 122px;
    height: 46.95px;
    margin-left: auto;
}
.footer-socials >a> img {
    max-width: 100%;
    width: 43.95px;
    height: 43.95px;
}
/* .fb-ic {
    margin-right: 34.1px;
} */