/* reset */
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
img{
	width: 100%;
}
a{
    text-decoration: none;
    color: #707070;
    font-family: "ArchyEDT", Arial, sans-serif;
}
.container{
    max-width: 102.5rem;
    width: 85%;
    margin: 0 auto;

}
/* external fonts */
@font-face {
    font-family: 'ArchyEDT';
    src: url('../fonts/archyedt-thin-webfont.woff2') format('woff2'),
        url('../fonts/archyedt-thin-webfont.ttf') format('truetype'),
        url('../fonts/archyedt-thin-webfont.eot') format('embedded-opentype'),
         url('../fonts/archyedt-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Zapf Dingbats';
    src: url('../fonts/ZapfDingbats\ Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
/* Header styles */

.header-div{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 3.25rem auto;
}
.logo-img{
    width: 7.625rem;
    height: 5.9375rem;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin-left: auto;
}
.nav-list{
    list-style: none;
    display: flex;
    justify-content: center;
    gap:0rem;
    padding: 0;
}
.nav-list > li{
    font-family: "ArchyEDT", Arial, sans-serif;
    font-weight: 100;
    font-size: 1.25rem;
    line-height: 1.6875rem;
    color: #707070;
    letter-spacing: .0125rem;
}
.nav-list li:nth-child(1) {
    margin-right: 3.3125rem;
  }
  
.nav-list li:nth-child(2) {
    margin-right: 4.375rem;
  }
  
.nav-list li:nth-child(3) {
    margin-right: 6.625rem;
  }
  
.nav-list li:nth-child(4) {
    margin-right: 4.875rem; 
  }
.search-button{
    width: 1.5938rem;
    height: 1.5938rem;
    border: none;
}
.slider-div{
    margin:3.7475rem auto;
}
.slider-img{
    max-width:100%;
}
/* section card styles */

section > h1{
    font-family: "ArchyEDT", Arial, sans-serif;
    font-weight: 100;

    font-size: 2.5rem;
    color: #707070;
    letter-spacing: .025rem;
}
.article-div{
    display: flex;
    gap: 4.375rem;
    margin: 4.375rem auto 0;
    max-width: 100%;
}
.article-container{
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 30.1875rem;
    height: 37.0625rem;
    box-shadow: 0px .1875rem .375rem #00000029; 
}
.article-container > img {
    width: 100%;
    max-width: 100%;
}
.article-container > h2 {
    font-family: "ArchyEDT", Arial, sans-serif;
    font-weight: 100;
    font-size: 1.875rem;
    color: #707070;
    letter-spacing: .0187rem;
    margin-top: 1.25rem;
    margin-left: .75rem;

}
.article-container > p {
    font-family: "Zapf Dingbats", Arial, sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    color: #707070;
    letter-spacing: 0rem;
    margin-top: .625rem;
    margin-left: .75rem;
}
.article-container > a {
    display: block;
    margin: auto .8125rem 2.1875rem auto;
    font-size: 1.5rem;
    letter-spacing: 0rem;
    
}
.load-more{
    display: flex;
    font-size: 1.875rem;
    letter-spacing: .0187rem;
    text-decoration: underline;
    justify-content: center;
    align-items: center;
    margin: 3.5rem auto;;
}

/* footer style */
footer{
    background-color: #2E2E2E;
    padding: 3.5rem 0;
    margin-top: 4.25rem;
}
.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.footer-logo{
    width: 7.625rem;
    height: 5.94rem;
}
.footer-contact {
    box-sizing: border-box;
    width: 7.75rem;
    max-width: 100%;
    margin-left: auto;
}
.footer-contact > h3 { 
    font-family: "ArchyEDT", Arial, sans-serif;

    font-size: 1.25rem;
    color: rgba(242, 242, 242, 1);
    letter-spacing: .0125rem;
    margin:0rem;
    font-weight: normal;
}
.footer-contact > a {
    font-size: .8125rem;
    color: rgba(242, 242, 242, 1);
    letter-spacing: .0081rem;
}
.footer-address {
    box-sizing: border-box;

    /* max-width: 100%; */
    margin-left:auto;
 
}
.footer-address > h3 { 
    font-family: "ArchyEDT", Arial, sans-serif;
    font-size: 1.25rem;
    font-weight: normal;
    color: rgba(242, 242, 242, 1);
    letter-spacing: .0125rem;;
}

.footer-address > a {
    font-size: .8125rem;
    color: rgba(242, 242, 242, 1);
    letter-spacing: .0081rem;
    margin: 0rem;
}
.footer-socials {
    box-sizing: border-box;
    justify-content: space-between;    max-width: 100%;
    display: flex;
    width: 7.625rem;
    height: 2.9344rem;
    margin-left: auto;
}
.footer-socials >a> img {
    max-width: 100%;
    width: 2.7469rem;
    height: 2.7469rem;
}
/* .fb-ic {
    margin-right: 34.1px;
} */